<div class="card-garden">
  <%= image_tag "garden1.jpg", alt: "alttext" %>
  <div class="card-garden-infos">
    <div>
      <h2>Lovely British Garden</h2>
      <h3>Mary Berry | Surrey, England</h3>
      <p>Mary in Surrey has a lovely garden in the heart of the English countryside. With freshly mown grass, a 'help yourself' strawberry patch and a marquee with furniture for afternoon tea.</p>
    </div>
    <h2 class="card-garden-pricing">£99.99</h2>
    <%= image_tag "mary.jpg", alt: "alttext", class: "card-garden-user avatar-bordered" %>
  </div>
</div>
