// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #00b8a8;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #BEE5D3;
$dark-green: #9CC3B1;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;

$pinkred: rgba(238,88,93,0.5);
