// Import page-specific CSS files here.
@import "home";
@import "booking";

.main-container {
  display: flex;
  margin: 24px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  margin: 0px 40px;
}

.cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;
  margin-right: 24px;
}
