<!-- <h1>Bookings for <%= @user.email %></h1>

<#% @bookings.each do |booking| %>
  <h2><%= booking.garden.title %></h2>
  <p><%= booking.start_date_time %> til <%= booking.end_date_time %></p>
  <%#= link_to 'cancel booking', booking_path(booking), method: :delete %>
<#% end %> -->
