<div class="container pt-4">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2>Book <%= @garden.title %></h2>
      <%= render "form", garden: @garden, booking: @booking %>
    </div>
  </div>
</div>


