<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>BOOKED!</h1>
      <h3 style="color: rgba(0, 0, 0, 0.4)">Enjoy your stay</h3>
      <div class="my-5">
        <%= render 'components/bookingcard', booking: @booking %>
      </div>
      <%= link_to 'my bookings', bookings_path %> | <%= link_to 'continue exploring', gardens_path %>
    </div>
  </div>
</div>

