<div class="container pt-4">
  <div class="row justify-content-center">
    <div class="col">

      <h1>Our gardens</h1>
      <ul>
        <% @gardens.each do |garden| %>
          <li><%= link_to  garden.title, garden_path(garden) %></li>
        <% end %>
      </ul>

    </div>
  </div>
</div>