<br>
  <h1 class="pl-4">Explore our gardens</h1>
  <div class="main-container">
    <div class="cards-index">
      <%= render 'components/card' %>
    </div>
    <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


