<div class="container mt-3">
  <h1>My Listed Gardens</h1>

  <h3>You have <%= @gardens.count %> garden<%=@gardens.count == 1 ? '' : 's'%><%= @gardens.count > 0 ? ' listed:' : '' %> </h3>

  <div class="main-container">
    <div class="cards">
      <%= render 'components/card' %>
    </div>
  </div>


</div>
