<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2>Create a new garden listing</h2>
      <%= render "form", garden: @garden %>
    </div>
  </div>
</div>
