.card-garden {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  height: 300px;
  border-radius: 12px;
  padding-bottom: 6px;
}

.card-garden > a > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-garden > a > img:hover {
  opacity: 0.9;
}

.card-garden h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.card-garden h3 {
  font-size: 14px;
  font-weight: lighter;
  color: gray;
  margin: 0;
  padding-top: 3px;
}

.card-garden p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding-top: 3px;
}

.card-garden-infos .card-garden-pricing h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  right: 16px;
  bottom: 16px;
}


.card-garden .card-garden-infos {
  padding: 16px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card-garden-infos .card-garden-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-booking {
  border-radius: 14px;
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  .card-img {
    border-radius: 12px 0px 0px 12px;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
  }

  .card-booking-info {
    margin-left: 10px;
    width: 100%;
    .card-booking-title {
      display: flex;
      h2 {
        font-size: 17px;
        font-weight: bold;
        flex: 1 0 auto;
        margin-bottom: 4px;
        a {
          color: black;
          font-size: 16px;
        }
      }
      .card-booking-confirmation {
        margin-right: 10px;
        p {
          color: rgba(0, 0, 0, 0.4);
          font-size: 12px;
          margin-bottom: 0;
        }
      }
    }
    h3 {
      font-size: 14px;
      margin-bottom: 8px;
      color: gray;
      font-weight: lighter;
    }
    a {
      color: $dark-green;
      font-size: 14px;
    }
  }
}

.card-rating {
  font-size: 12px;
  margin-bottom: 0;
  color: gray;
}

.image-card-placeholder {
  opacity: 0.5;

}

