.card-garden {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  border-radius: 14px;
  padding-bottom: 6px;
}

.card-garden > a > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-garden h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-garden h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding-top: 3px;
}

.card-garden p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding-top: 3px;
}

.card-garden-infos .card-garden-pricing h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  right: 10px;
}


.card-garden .card-garden-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-garden-infos .card-garden-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-booking {
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  // img {
  //   height: 100px;
  //   width: 100px;
  //   object-fit: cover;
  // }
  .card-img {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
  }

  .card-booking-info {
    margin-left: 8px;
    width: 100%;
    .card-booking-title {
      display: flex;
      h2 {
        font-size: 20px;
        flex: 1 0 auto;
        a {
          color: black;
        }
      }
      .card-booking-confirmation {
        margin-right: 8px;
        p {
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
    p {
      font-size: 12px;
      margin-bottom: 4px;
    }
    a {
      color: #92afa2;
    }
  }
}

.image-card-placeholder {
  opacity: 0.5;

}

